<!DOCTYPE html>
<html>
<head>
	<title>VDO Chat Log In</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #161d29;
		}
		h1 {
			color: white;
			text-align: center;
			margin-top: 50px;
		}
		form {
			max-width: 400px;
			margin: 0 auto;
			background-color: #161d29;
			padding: 20px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			border-radius: 5px;
		}
		input[type=text], input[type=password] {
			display:flex;
			width: 100%;
			margin-bottom: 10px;
			padding: 10px;
			font-size: 16px;
			border-radius: 5px;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}
		button {
			background-color: #4CAF50;
			color: #fff;
			padding: 10px 20px;
			font-size: 16px;
			border-radius: 5px;
			border: none;
			cursor: pointer;
            display:block;
            align-items: center;
			transition: background-color 0.3s;
		}
		button:hover {
			background-color: #3e8e41;
		}
		.header {
			padding: 10px 10px;
			text-align: center;
			background: #1a2434;
			color: white;
		}
	</style>
</head>
<body>
	<div class="header" >
		<h1>VDO Chat</h1>
		<h3>Integrated with ChatGPT Support</h3>

	</div>
	
	<br>
	<br>
	<h1>Log In</h1>

	<form action="/register" method="POST">
		<input type="text" name="username"
			placeholder="username">
		<input type="password" name="password"
			placeholder="password">
	<div style="justify-content: center;display: flex;">
		<button >Submit</button>
	</div>
		
	</form>
</body>
</html>
